#scontrino{
    width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
img{
    width: 100%;
}
